html {background-color: #ffffff; background-image: inherit; }

body,
input, select, textarea {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}

body {width: 100%; max-width: inherit; box-shadow: none; margin: 0}

/* ============================================================================================================================== */

hr {border: 0; height: 0; box-shadow: 0 0 3px 1px #00c0f7;}
hr:after {content: "\00a0";}

input {width: 250px; height: 30px; border-radius: 5px; border: inherit; background-color: #eeeeee; padding-left: 10px;}
input[type=checkbox] {padding: 0; width: 0;}
input.error {box-shadow: 0 0 0.5em #cc0000;}

h1 {color: #00c0f7; text-transform: uppercase; font-size: 150%}
h2 {color: #666666; text-transform: uppercase; font-size: 130%}

input:focus {box-shadow: 0 0 0.5em #00c0f7; border-radius: 5px;}
input[type=checkbox] {padding: 0; width: 0!important;}
input.button-form:hover, input[type=submit]:hover {box-shadow: 0 0 0.5em #00c0f7; background-color: #00c0f7; color: #ffffff; cursor: pointer; transition: 0.2s;}

form table tr:hover {background-color: inherit;}

span.error-form {font-size: small; color: #cc0000; line-height: 2px;}

a {color: inherit;}

/* REPRISE DE main.css */
/* Table des controllers */
table.controller-index {border-top: 1px solid #DFDFDF; border-collapse: collapse; width: 100%; margin-bottom: 1em;}
tr {border: 0;}
tr>td:first-child, tr>th:first-child {padding-left: 1.25em;}
tr>td:last-child, tr>th:last-child {padding-right: 1.25em;}
td, th {line-height: 1.5em; padding: 0.5em 0.6em; text-align: left; vertical-align: top;}
th { background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}
thead th {white-space: nowrap;}
th a {display: block; text-decoration: none;}
th a:link, th a:visited {color: #666666;}
th a:hover, th a:focus {color: #333333;}
th.sortable a {background-position: right; background-repeat: no-repeat; padding-right: 1.1em;}
th.asc a {background-image: url(../images/skin/sorted_asc.gif);}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}
.odd {background: #f7f7f7;}
.even {background: #ffffff;}
th:hover, tr:hover {background-color: rgba(0, 192, 247, 0.3);}

/* Nav des controllers */
.nav {background-color: #efefef; padding: 0.5em 0.75em; zoom: 1;}
.nav ul {overflow: hidden; padding-left: 0; zoom: 1;}
.nav li {display: block; float: left; list-style-type: none; margin-right: 0.5em; padding: 0;}
.nav a {color: #666666; display: block; padding: 0.25em 0.7em; text-decoration: none; -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius: 0.3em;}
.nav a:active, .nav a:visited {color: #666666;}
.nav a:focus, .nav a:hover {background-color: #999999; color: #ffffff; outline: none; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);}
.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {background-color: transparent;}
.nav a.home, .nav a.list, .nav a.create, .nav a.edit {background-position: 0.7em center;background-repeat: no-repeat;text-indent: 25px;}
.nav a.home {background-image: url(../images/skin/house.png);}
.nav a.list {background-image: url(../images/skin/database_table.png);}
.nav a.create {background-image: url(../images/skin/database_add.png);}
.nav a.edit {background-image: url(../images/skin/database_edit.png);}

/* Show, edit */

fieldset,
.property-list {margin: 0.6em 1.25em 0 1.25em; padding: 0.3em 1.8em 1.25em; position: relative; zoom: 1; border: none;}
.property-list .fieldcontain {list-style: none;overflow: hidden;zoom: 1;}
.fieldcontain {margin-top: 1em;}
.fieldcontain label,
.fieldcontain .property-label {color: #666666; text-align: right; width: 25%;}
.fieldcontain .property-label {float: left;}
.fieldcontain .property-value {display: block; margin-left: 27%;}

/* ============================================================================================================================== */

div#header {width: 100%; height: 80px; background-color: #555555;}
div#header ul, div#header li {float: left; display: table-cell;}

div#header div.nav-header {width: 60%; vertical-align: middle;}
div#header div.nav-header div.logo-header {float: left; padding: 0 40px;}
div#header div.nav-header ul {height: 80px; margin: 0; padding: 0;}
div#header div.nav-header li.btn-header {padding: 0 20px; color: #00c0f7; text-align: center; font-size: 130%; cursor: pointer;}
div#header div.nav-header li.btn-header:hover {background-color: #00c0f7; color: #555555; transition: all 0.5s;}
div#header div.nav-header li.btn-header .selected-header {border-bottom: 5px solid #00c0f7}
div#header div.nav-header li.btn-header a{ height: 80px; line-height: 80px; text-decoration: none; font-size: 120%;}

div#header div.connect {float: right;}
div#header div.connect ul {float: right; height: 80px; margin: 0; padding: 0;}
div#header div.connect li {height: 80px; line-height: 80px; padding-right: 10px;}
div#header div.connect input {width: 150px; display: table-cell; vertical-align: middle;}
div#header div.connect label {font-size: 85%; color: #FFFFFF;}
div#header div.connect table#connect-form td {padding: 2px 5px;}
div#header div.connect table#connect-form tr>td:first-child, tr>th:first-child {width: 150px;}

div.page-body {width: 80%; margin: 40px auto;}

div.nav {background-color: #dddddd; margin: 5px; border-radius: 5px;}
.nav a.home, .nav a.list, .nav a.create{color: #555555;}
.nav a.home:hover, .nav a.list:hover, .nav a.create:hover{color: #ffffff;}

div.body-content{float:left; width:60%; padding: 2%;}

div.body-content{float:left;}

.body-content h1{color: #00c0f7; text-transform: uppercase; font-size: 200%}
.body-content h2{color: #666666; text-transform: uppercase; font-size: 130%}

.body-content .event {border: 2px solid #00c0f7; border-radius: 5px; padding: 10px; margin: 10px;}
.body-content .event img {float: left; padding: 10px;}

div.body-sidebar{margin-left: 66%; padding: 2%}
.body-sidebar h1{color: #00c0f7; text-transform: uppercase; font-size: 150%}
.body-sidebar h2{color: #666666; text-transform: uppercase; font-size: 100%}

.body-sidebar .user-data {background-color: #cccccc}
.body-sidebar .most-popular {background-color: #999999}

div#footer {}

/* SPRING SECURITY */
#login .inner {width: 40% !important; border-radius: 10px; background-color: #FFFFFF !important; width: 500px !important;}
#login .inner .fheader {background-color: #555555 !important; color: #00c0f7 !important; border-radius: 10px 10px 0 0;}
#login .inner #loginForm {padding: 15px; }
#login .inner #loginForm p {margin: inherit}
#login .inner #loginForm label {width: 200px;}
#login .inner #loginForm input[type='text'], #login .inner #loginForm input[type='password'] {width: inherit;}
#login #remember_me_holder {padding-left: 210px !important;}
#login #submit {margin-left: 100px !important;}