html {background-color: #ffffff; background-image: inherit;}

body {width: 100%; max-width: inherit; box-shadow: none;}

div#grailsLogo {width: 100%; height: 140px; background-color: #555555; vertical-align: middle}

div.connect {float: right; height: 140px;}
table.connect {border: inherit;}
table.connect tr{background-color: inherit}



div#page-body {width: 80%; margin: 40px auto;}

div.body-content{float:left; width:60%; padding: 2%;}
.body-content h1{color: #00c0f7; text-transform: uppercase; font-size: 200%}
.body-content h2{color: #666666; text-transform: uppercase; font-size: 130%}

div.body-sidebar{margin-left: 66%; padding: 2%}
.body-sidebar h1{color: #00c0f7; text-transform: uppercase; font-size: 150%}
.body-sidebar h2{color: #666666; text-transform: uppercase; font-size: 100%}

div#footer {}



/* COMMON */
input{width: 250px; height: 25px; border-radius: 5px; border: inherit; background-color: #eeeeee;}
input:focus{box-shadow: 0 0 0.5em #00c0f7; border-radius: 5px;}
input.button-form{width: 120px;}
input.button-form:hover{box-shadow: 0 0 0.5em #00c0f7; background-color: #00c0f7; color: #ffffff; cursor: pointer; transition: 0.2s;}

form table tr:hover {background-color: inherit;}

span.error-form{font-size: small; color: #cc0000; line-height: 2px;}